// Color
$color-base: #323232;
$color-theme: #2ba7d2;
$color-secondary: #10a87b;
$color-border: #d0d0d0;
$color-notice: #ababab;
$color-bg: #f9f9f9;
$color-caution: #c50c0c;

// Fonts
$fontFamily-ja: 'Open Sans', '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
$fontSize-pc: 1.6rem;
$fontSize-sp: 1.5rem;
$lineHeight-pc: 1.9;
$lineHeight-sp: 1.7;

// Animation
$easing: cubic-bezier(0.46, 0.03, 0.52, 0.96);

// Width
$maxWidth: 860px;

// Breakpoints
$breakpoints: (
  sp: 767px,
  tablet: 884px
);
